body {
    background-color : blueviolet;
    font-size : 30px;
    border-color : blueviolet;
    border-style : groove;
    text-align : center;

}

button {
    background-color : gray;
    border-style : smooth;
    border-color : gray;
}

.container, content {
    background-color : white;
    font-size : 30px;
    text-align : center;
  }
